@using Project.Models
@{
    ViewBag.Title = "Rick's Home";
    SuperUser u = Session["user"] as SuperUser;
    string name = u.Username;
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="container">
    <img src="~/Pictures/Rick-sanchez.jpg" id="rick_home" />
</div>

@Html.Partial("WelcomePartial")

@Html.Partial("ChangePasswordPartial")


<div class="container">
    <div class="container col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Delete a morty</div>
            </div>
            <div class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form action="KillMorty" method="post" class="form-horizontal" role="form">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" onkeyup="toggleButton(this,'btn-kill');"
                               name="mortyToKill" placeholder="Morty to kill">
                        <input disabled='disabled' id="btn-kill" type="submit" value="Kill this morty"
                               style="margin-left: 20px" class="btn btn-danger " />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


@if (@ViewBag.mortys.Count == 0)
{
    <div class="container">
        <div class="container  col-lg-9">
            <h2>No Mortys :(</h2>
        </div>
    </div>
}
else
{

    <div class="container">
        <div class="container col-lg-9">
            <h2>All the mortys</h2>
        </div>
        <div class="container col-lg-4" id="mortytbl">
            
            @{
                WebGrid grid = new WebGrid(ViewBag.mortys, canSort: true, canPage: true, rowsPerPage: 10, defaultSort: "Username", ajaxUpdateContainerId: "mortytbl");
            }
            @grid.GetHtml(  tableStyle: "table",
                            columns: grid.Columns(
                                grid.Column("Username", header: "name"),
                                grid.Column("regTime", header: "Added in")
                                )
                         )


        </div>
    </div>
}


<div class="container">
    <div class="container  col-lg-9 ">
        <h2>My Posts</h2>
        <h4 id="status"></h4>
        <table style="display:none" id="thread_tbl" class="table table-hover ">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publish time</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script language="javascript">
    $("#status").text("Loading posts...");
    document.getElementById("thread_tbl").style.display = 'none';
    $.get("GetThreadJson", null, BindData);
    function BindData(threads) {
        var tbl = $("#thread_tbl");
        var name = '@name';
        var postCounter = 0;
        for (k = 0; k < threads.length; k++) {

            if (threads[k].Author.toLowerCase() == name.toLowerCase()) {
                postCounter = postCounter + 1;
                var d = threads[k].time.substring(6, threads[k].time.length - 2);
                var myDate = new Date(d * 1);
                var h = (myDate.getHours() < 10) ? ("0" + myDate.getHours()) : myDate.getHours();
                var m = (myDate.getMinutes() < 10) ? ("0" + myDate.getMinutes()) : myDate.getMinutes();

                var newRow = "<tr>" +
                    "<td>" + threads[k].Title + "</td>" +
                    "<td>" + myDate.getDate() + "/" + (myDate.getMonth() + 1) + "/" + myDate.getFullYear() + " | " + h + ":"+ m + "</td>" +
                    +"</tr>"
                tbl.append(newRow);
            }
        }
        if (postCounter > 0) {
            document.getElementById("thread_tbl").style.display = 'block';
            $("#status").text("");
        }
        else
            $("#status").text("You didn't post any thread yet!");
    }

</script>



@if (ViewBag.message != null)
{
    <script type="text/javascript">
    alert('@ViewBag.message');
    </script>
}


<script type="text/javascript">
    function toggleButton(ref, bttnID) {
        document.getElementById(bttnID).disabled = ((ref.value !== ref.defaultValue) ? false : true);
    }
</script>

@*<script language="javascript">

    $.get("getUserJson", null, BindData);

    function BindData(users) {

        var list = $('mortytbl');

        for (k = 0; k < users.length; k++) {
            list.a
        }
       


    }

</script>*@